

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}
.container{
    height: 90vh;
    width: 100%;
    background-color: none;
    font-family: sans-serif;
    position: relative;


}
.logo{
    font-weight: 600;
    font-size: 3.8rem;
}

.menu{
    width: 100%;
    display:flex;
    align-self: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #B2B1A2 ;
    border: 1px solid black;
}
.menu ul{
    list-style: none;
}

.menu ul li{
    position: relative;
    display: inline-block;
    list-style: none;
    float: left;
}
.menu ul li a{
    display: block;
    text-decoration:none ;
    padding:10px 20px ;
    color: #0C0C0C;
    font-family:"Open sans" ;
    text-decoration: none;
}

.menu ul li a:hover{
    color: #F7F9FA;
    transition: all .3s;
}

.submenu{

    position: absolute;
    width: 92%;
    visibility: hidden;
    opacity: 100%;
    transition: opacity 1.0s;
}

.submenu ul li a{
    position: relativa;
    display: center;
    padding: none;
    color: #FCF9F9;
    font-family: "Open sans";
    text-decoration: none;

}

.menu li:hover .submenu{
    visibility: visible;
    overflow: 1;
}

.submenu1{
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: o;
    transition: opacity 1.0s;
}

.submenu1 ul li a{
    position: relativa;
    display: center;
    padding: none;
    color: #FCF9F9;
    font-family: "Open sans";
    text-decoration: none;
}

.menu li:hover .submenu1{
    visibility: visible;
    overflow: 1;
}

ul li{
    display: inline-block;
    list-style: none;
    padding: 6px 20px;
    font-weight: 500;
    font-size: 1.7rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

ul li:hover{
    border-radius: 20px;
    background-color: #ff4321;
    color: #fff;
}

header{
    position: absolute;
    bottom: 30%;
    padding: 0 50px;
}

header h1{
    font-size: 7rem;
}

header h2{
    font-size: 4rem;
}

header button{
    padding: 0 5px;
    width: 140px;
    outline: none;
    border: 0;
    height: 40px;
    font-weight: 500;
    background-color: #ff4321;
    transition: width 0.3215s;
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
}

header button:hover{
    width: 200px;
}

.container .proveedoresimg{
    position: absolute;
    height: 450px;
    width: 440px;
    right: 7%;
    bottom: 0;
    z-index: 999;
}

.pie{
    position: relative;
    background-color: #B2B1A2  ;
    border: 1px solid black;
}

.pie ul li a{
    color: black;
    font-family: "Open sans";
    text-decoration: none;
    list-style: none;
    padding: 0px 25px;
    font-size: 1.7rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button{
    border-radius: 20px;
}