
.titulo-ep{
    text-align: center;
    font-size: 35px;
    padding: 10px;
}

table, th, td{
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 20px;
}

table ul{
    padding: 5px;
    margin: auto;
    width: 100%;
}

table{
    background-color: #ECFDFF;
    width: 90%;
    height: 90%;
}

table th, ul, a{
    font-size: 17px;
}

b{
    font-size: 17px;
    padding-left: 5px;
}

.buscar{
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: solid 1px;
    background-color: white; 
}

.btn-editar{
    list-style: none;
    display: inline-flex;
    padding: 5px;
    border-radius: 5px;
}

.btn-editar:hover{
    background-color: #ff4321;
    transition: .5s;
    border: 1px solid black;
    padding: 3%;
}

.btn-editar a:hover{
    color: #F7F9FA;
    transition: all .3s;
}

a{
    text-decoration: none;
    color: black;
}



